
#foothead {
    color: white;
>>>>>>> 70b0e85b653531eab9f778be31b833391bc79389
}
/* ul li a {
    color: rgb(111, 139, 187);
    text-decoration: none;
    font-size: 25px;
    position: relative;
    padding-right: -20px;

}
 ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #dc3760;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
 ul li a:hover::after {
    width: 50%;
}
.fa-linkedin-in:before {
    content: "\f0e1";
	position: relative;
	

#footcont {
    color: #7e7e7e;
    text-decoration: none;
}