.one {
    border: 5px white;
    background-color: white;
    height: 200%;
    margin-top: 3px;
    margin-bottom: 100px;
}

.promo {
    margin-left: 320px;
    margin-top: 30px;
    font-size: 25;
}

#dropdown {
    margin-left: 50px;
    margin-top: 13px;
    font-size: 18;
}

#dropdown a {
    text-decoration: none;
    color: black;
}

.propic {
    width: 250px;
    margin-top: 4px;
}

#size {
    margin-top: 70px;
}

#butt {
    background-color: white;
    color: black;
    border-radius: 4px;
    box-sizing: inherit;
    width: 120px;
    height: 48px;
    margin-left: 14px;
    margin-bottom: 10px;
}

#butt:hover {
    background-color: #1A1A1A;
    color: white;
    border: 0;
}

#butcart {
    background-color: black;
    color: white;
    border-radius: 50px;
    width: 100%;
    height: 60px;
    margin-top: 20px;
}

#desc {
    margin-top: 50px;
}

